header {
background-color: #357cce;
color: #ffffff;
}
@media screen and (min-width: 1024px) {
    header {
      margin-top: 12px!important;
    }
}
.navbar-burger:hover {
    color: #000000!important;
}
.view-photo-gallery.view-display-id-attachment_1 .view-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

