@import "./vars";

/* DFP and Ad Blocks. */
.block-dfp, div[class*='advertisement'], div[id*='blueorchid']  {
  display: flex;
  justify-content: center;
}

.region-leaderboard {
  div[id*='blueorchid'] {
    margin-bottom: calc(#{$column-gap} * 2);
  }
}

/* Advertisement Blocks. */
.view-advertisements {
  .views-row {
    display: flex;
    justify-content: center;
  }
}

#block-views-block-advertisements-block-1 {
  margin-bottom: calc(#{$column-gap} * 2);
}

/* Main Classified Page. */
.path-classified {
  .view-content {
    h3 {
      @include section-tag-heading;
    }
    .views-view-grid {
      display: flex;
    }
    .views-view-grid > div {
      flex-basis: 50%;
    }
  }
}

/* NewzWare Classified */
.view-classified-ads {
  .field--name-field-ad-category {
    font-weight: bold;
    margin-bottom: 0;
  }
}

/* The block underneath needs to clear float */
#block-views-block-videos-block-1 {
  clear: both;
}

/* Network ads */
/* Rectangular ads in main column */
.region-content .network-ad {
  display: inline-block;
}

.region-content .network-ad.left {
  float: left;
  margin-left: 2rem;
}

.region-content .network-ad.right {
  float: right;
  margin-right: 2rem;
}

/* fairly arbitrary width */
@media screen and (max-width: $desktop - 1px) {
  .region-content {
    .network-ad {
      display: block;
    }

    .network-ad.left, .network-ad.right {
      margin: 0 auto;
      float: none;
    }
  }
}

.block-etype-blue-orchid {
  display: flex;
  justify-content: center;
}