@import "./vars";

/* DFP Blocks. */
.block-dfp {
  display: flex;
  justify-content: center;
}

/* Advertisement Blocks. */
.view-advertisements {
  .views-row {
    display: flex;
    justify-content: center;
  }
}

#block-views-block-advertisements-block-1 {
  margin-bottom: calc(#{$column-gap} * 2);
}

/* Main Classified Page. */
.path-classified {
  .view-content {
    h3 {
      @include section-tag-heading;
    }
    .views-view-grid {
      display: flex;
    }
    .views-view-grid > div {
      flex-basis: 50%;
    }
  }
}

.announcements {
  background: url("../images/classified_icons/announcements.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}
.transportation {
  background: url("../images/classified_icons/transportation.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}
.employment {
  background: url("../images/classified_icons/employment.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}
.pets {
  background: url("../images/classified_icons/pets.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}
.services {
  background: url("../images/classified_icons/services.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}
.shop {
  background: url("../images/classified_icons/shop.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}
.real-estate-sale {
  background: url("../images/classified_icons/real-estate-sale.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}
.real-estate-rent {
  background: url("../images/classified_icons/real-estate-rent.png") no-repeat;
  background-size: 60px 60px;
  padding-left: 71px;
  line-height: 60px;
}

/* Dahlonega Square Ads on Home Page */
#block-tiemposcni-dfptagcnidahlonegamidhome {
  display: inline-block;
  float: left;
}

#block-tiemposcni-dfptagcnidahlonegamidhome2 {
  display: inline-block;
  float: right;
}

/* The block underneath needs to clear float */
#block-views-block-videos-block-1 {
  clear: both;
}

@media screen and (max-width: 950px) {
  #block-tiemposcni-dfptagcnidahlonegamidhome {
    display: block;
    text-align: center;
    float: none;
  }

  #block-tiemposcni-dfptagcnidahlonegamidhome2 {
    display: block;
    text-align: center;
    float: none;
  }
}

@media screen and (max-width: $tablet - 1px) {
  /* Hide content on mobile */
  #block-tiemposcni-dfptagcnidahlonegaleaderboard-2 {
    @include is-really-invisible;
  }

}