@import "./vars";

.sample-ad-block {
  padding: 1rem;
}

.region-large-ad {
  .sample-ad-block {
    width: 100%;
    height: 200px;
  }
}

.region-header-right {
  .sample-ad-block {
    margin-top: calc(#{$column-gap} * 2);
    width: 200px;
    height: 60px;
    float: right;
  }
}

.region-leaderboard {
  .sample-ad-block {
    width: 728px;
    height: 90px;
    margin: 0 auto calc(#{$column-gap} * 2);
  }
}

.region-content {
  .sample-ad-block {
    width: 728px;
    height: 90px;
    margin: 0 auto calc(#{$column-gap} * 2) $column-gap;
  }
}

.region-sidebar {
  .sample-ad-block {
    width: 120px;
    height: 600px;
    margin: auto;
  }
}