@import "./vars";

.layout-container {
  margin: $column-gap;
}

header {
  position: relative;
}

main {
  /* Override .columns default margin */
  margin-top: 0!important;
}

.messages {
  margin: 0 0 $column-gap 0.5rem;
}

/* Make radio buttons inline. */
.form-type-radio {
  display: flex;
}

@media screen and (min-width: $desktop) {
  .region-sidebar {
    /* Make border go to the bottom. */
    height: 100%;
  }
  /* Override Bulma 'columns' formatting to get correct border width. */
  footer {
    margin: 0 0 2rem 0!important;
  }

}

@media screen and (min-width: $tablet) {
  /* Bulma overrides. */
  .tile {
    flex-basis: unset;
    flex-grow: unset;
  }
  .tile.is-ancestor {
    margin-left: 0;
    margin-right: 0;
  }
  .tile.is-parent {
    padding: 0;
  }
  .tile.is-child.is-3 {
    &:not(:last-child) {
      padding-right: 0.5rem!important;
    }
  }
}

@media screen and (max-width: $tablet - 1px ) {
  .region-header > div {
    padding-top: 0;
    padding-bottom: 0;
  }
}