@import "./vars";

/* Top left "Date" block. */
#block-date, #block-date-2 {
  width: fit-content;
  text-align: center;
  div {
    width: auto;
  }
  .navbar-burger {
    /* Flex to center fontawesome icon. */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    span {
      height: 2px;
    }
  }
  .block-search {
    [data-drupal-selector=search-block-form] {
      display: flex;
      align-items: center;
      /* Match navbar-burger. */
      height: 3.25rem;
      [data-drupal-selector=search-edit-submit] {
        cursor: pointer;
        margin-right: 0.5rem;
      }
      [data-drupal-selector=search-edit-keys] {
        width: 70%;
      }
    }
  }
}

#block-tiempos-branding {
  /* Center logo. */
  display: flex;
  justify-content: center;
}

/* Poll Block formatting */
.block-poll-recent-block {
  h2 {
    @include section-tag-heading;
  }
  input[type=radio] {
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}

/* Video Block */
#block-views-block-videos-block-1 > h2 {
  @include section-tag-heading;
}

/* Statistics Block */
#block-popularcontent {
  .item-list:not(:last-child) {
    margin: 0 0 0.5rem 0;
  }
  ul {
    margin:0;
    li {
      margin: 0 0 0 0.5rem;
      padding: 0;
      font-size: $size-6;
    }
  }
  br {
    display: none;
  }
}

.block-views-blockbreaking-news-block-1 {
  margin-bottom: 0!important;
  .view-id-breaking_news {
    display: flex;
    margin-bottom: $column-gap;
    overflow: hidden;
    font-size: 0.9rem;
    .view-header {
      white-space: nowrap;
      margin-right: calc(#{$column-gap} / 2);
    }
    a {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: $desktop - 1px) {
  #block-date, #block-date-2 {
    .block-search {
      /* Hide search, goes in navbar-start */
      display: none;
    }
  }
}

@media screen and (max-width: $tablet - 1px) {
  #block-date, #block-date-2 {
    /* Align date with hamburger and search on mobile. */
    p {
      float: left;
      margin-top: 1.1rem;
      margin-right: 0;
      padding-right: 0;
    }
    div {
      float: left;
    }
  }
}

/* e-Edition */
#block-etypeeedition {
  flex-basis: 100%;
  p {
    font-size: 0.8rem;
  }
}

/* Custom Blocks */
#block-friends2followsidebar, #block-friends2followsidebar-2 {
  iframe {
    height: 600px;
  }
}

#block-mercobannerblock, #block-mercobannerblock-2 {
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  min-height: 257px; /* to set sidebar height because Merco code loads slowly */
}

/* Weather Widget */
.weatherwidget {
  width: 100%;
  height: 64px;
  overflow: hidden;
  margin-bottom: 0!important;

}

@media screen and (max-width: $tablet - 1px) {
  /* Hide content on mobile */
  #block-weatherwidget-2,
  #block-etypeeedition,
  #block-etypeeedition-2,
  #block-friends2followsidebar,
  #block-friends2followsidebar-2,
  #block-mostrecentpoll {
    @include is-really-invisible;
  }
}