@import "./vars";

/* Top left "Date" block. */
#block-date, #block-date-2 {
  .navbar-burger {
    /* Flex to center fontawsone icon. */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      height: 2px;
    }
  }
  .block-search {
    [data-drupal-selector=search-block-form] {
      display: flex;
      align-items: center;
      /* Match navbar-burger. */
      height: 3.25rem;
      [data-drupal-selector=search-edit-submit] {
        cursor: pointer;
        margin-right: 0.5rem;
      }
      [data-drupal-selector=search-edit-keys] {
        width: 70%;
      }
    }
  }
}

/* Poll block formatting */
.block-poll-recent-block {
  h2 {
    @include section-tag-heading;
  }
  input[type=radio] {
    height: 1.2rem;
    width: 1.2rem;
  }
}

.block-views-blockbreaking-news-block-1 {
  margin-bottom: 0.75rem!important;
  .view-id-breaking_news {
    display: flex;
    justify-content: center;
    h4 {
      margin-right: calc(#{$column-gap} / 2);
    }
    a {
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: $desktop - 1px) {
  #block-date, #block-date-2 {
    .block-search {
      /* Hide search, goes in navbar-start */
      display: none;
    }
  }
}

@media screen and (max-width: $tablet - 1px) {
  #block-date, #block-date-2 {
    /* Align date with hamburger and search on mobile. */
    p {
      float: left;
      margin-top: 1.1rem;
      margin-right: 0;
      padding-right: 0;
    }
  }
}

/* e-Edition */
#block-etypeeedition {
  flex-basis: 100%;
  p {
    font-size: 0.8rem;
  }
}

/* Custom Blocks */
#block-friends2followsidebar, #block-friends2followsidebar-2 {
  iframe {
    height: 600px;
  }
}

#block-mercobannerblock-2 {
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  min-height: 257px; /* to set sidebar height because Merco code loads slowly */
}

/* Weather Widget */
.weatherwidget {
  width: 220px;
  float: right;
  height: 56px;
  overflow: hidden;
  margin-top: 0.1rem;
}

@media screen and (max-width: $tablet - 1px) {
  .weatherwidget {
    width: 220px;
    margin-right: 0;
    float: none;
  }
  /* Hide content on mobile */
  #block-etypeeedition,
  #block-etypeeedition-2,
  #block-friends2followsidebar,
  #block-friends2followsidebar-2 {
    @include is-really-invisible;
  }
}