@import "./vars";

/* Nav overrides for Feature nodes. */
.page-node-type-feature {
  #navbar-burger {
    display: block;
    color: $white;
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    margin: auto;
    height: 3.25rem;
    width: 3.25rem;
  }
  #main-nav {
    padding: 0;
    .navbar {
      /* Make sure navbar completely hidden, overriding bulma min-height. */
      min-height: 0;
      border: 0;
    }
  }
  .navbar-end {
    @include is-really-invisible;
  }
}

/* CONTENT */

.field--name-field-tags {
  display: flex;
  .field__label {
    margin-right: 0.2rem;
    &:after {
      content: ":";
    }
  }
  .field__items {
    display: flex;
    .field__item {
      margin-right: 0.2rem;
    }
  }
}

/* Article formatting. */
.page-node-type-article {
  #block-pagetitle-2 {
    margin-bottom: 0;
  }
  article {
    .node__meta {
      margin-bottom: calc(#{$column-gap} * 2);
    }
    .flex-caption {
      font-family: $sans-serif;
      font-size: $size-7;
      color: $black;
    }
    .field--name-field-image {
      float: left;
      margin-right: 0.75rem;
      margin-top: 0.4rem;
      margin-bottom: 0;
    }
    .field--name-body {
      blockquote {
        margin: $column-gap 3rem $column-gap 0.5rem;
        p {
          font-size: 1.6rem;
          font-weight: bold;
          font-style: italic;
          &.small {
            max-width: 30%;
          }
        }
      }
      figure {
        &.align-left {
          margin-right: $column-gap;
        }
        &.align-right {
          margin-left: $column-gap;
        }
        figcaption {
          font-family: $sans-serif;
          font-size: $size-7;
          color: $black;
        }
      }
    }
    .field--name-field-tags {
      margin-top: 2rem;
    }
  }
}

/* Feature formatting. */
.page-node-type-feature {
  /* Hide system page title */
  #block-tiempos-page-title {
    @include is-really-invisible;
  }
  .region-content {
    padding: 0;
    border-right: none;
  }
  .addtoany_list {
    position: fixed;
    top: 0.15rem;
    right: 0.75rem;
    z-index: 9;
    svg {
      background-color: $grey !important;
    }
  }
  &.toolbar-fixed {
    .addtoany_list {
      top: 42px;
    }
    &.toolbar-tray-open {
      .addtoany_list {
        top: 82px;
      }
    }
  }
  #block-tiempos-local-tasks {
    background-color: $black;
    margin-bottom: 0;
    .tabs {
      margin: 0;
      border: none;
    }
  }
  article {
    flex-wrap: wrap;
    margin: 0;
    .is-one-quarter {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 3.5rem;
      .navbar-burger {
        position: absolute;
      }
      .site-logo {
        display: block;
        margin-bottom: 1rem;
      }
    }
    .is-three-quarters {
      img {
        width: 100%;
      }
    }
    .is-full {
      .main-caption {
        margin: 0.5rem 7rem auto;
      }
      .node__content {
        padding: 5rem 0 3rem;
        p {
          margin: 0 4rem $column-gap 13rem;
          font-size: 1.2rem;
          line-height: 2rem;
        }
        figure {
          width: 100%;
          width: -moz-available;          /* WebKit-based browsers will ignore this. */
          width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
          width: stretch;
          margin: 3rem auto 3rem auto;
          img {
            width: 100%;
            width: -moz-available;          /* WebKit-based browsers will ignore this. */
            width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
            width: stretch;
            height: auto;
          }
          figcaption {
            font-family: $sans-serif;
            font-size: $size-7;
            margin: 0.5rem auto 0.5rem 3rem;
            color: $black;
            text-align: center;
          }
        }
        .field--name-body {
          blockquote {
            margin: $column-gap 4rem $column-gap 8rem;
            p {
              margin: 0 0 $column-gap 0;
              font-size: 1.6rem;
              font-weight: bold;
              font-style: italic;
            }
          }
        }
        .field--name-field-tags {
          margin: 4rem 4rem $column-gap 13rem;
        }
      }
    }
    .node__submitted {
      a {
        color: $white-ter;
      }
    }
  }
}

/* Wider screen overrides for Article nodes. */
@media screen and (min-width: $desktop) {
  body:not(.page-node-type-feature) {
    #main-nav {
      .navbar {
        /* Can't use is-hidden-desktop because of Article formatting. */
        .navbar-start {
          @include is-really-invisible;
        }
      }
    }
  }
  body.page-node-type-feature {
    main {
      position: relative;
      top: 42px;
    }
    #main-nav {
      position: fixed;
      width: 100%;
      z-index: 9;
      .navbar {
        @include border-top-bottom-light;
        background-color: $white;
        padding: 0 1rem;
        .navbar-start {
          @include is-really-invisible;
          .user-menu {
            position: fixed;
            top: 1rem;
            right: calc(0.75rem * 2);
            height: fit-content;
            flex-flow: column;
          }
          .search-block-form {
            line-height: 2rem;
          }
        }
        .navbar-burger {
          @include is-really-invisible;
        }
        #main-navbar-menu {
          /* Keep social icons out of scroll bar. */
          margin: auto 1rem;
        }
      }
    }
    .is-one-quarter {
      /* No hamburger, so move up. */
      padding-top: 1.5em;
    }
  }
}

@media screen and (max-width: $tablet - 1px ) {
  .page-node-type-feature {
    .addtoany_list {
      width: 32px;
    }
    article {
      .is-one-quarter {
        .page-title {
          max-width: 90vw;
        }
        .site-logo {
          position: absolute;
          right: 49px;
          top: 0.7rem;
          width: 40vw;
        }
      }
      .is-full {
        .node__content {
          padding-top: 2rem;
          p {
            margin: 0 4rem $column-gap 4rem;
          }
          .field--name-body {
            blockquote {
              margin: $column-gap 4rem $column-gap 4rem;
              p {
                margin: 0 0 $column-gap 0;
              }
            }
          }
          .field--name-field-tags {
            margin: 3rem 4rem $column-gap 4rem;
          }
        }
      }
    }
  }
}

/* Control image width */
@media screen and (min-width: $mobile - 1px ) {
  .page-node-type-article {
    article {
      .field--name-field-image {
        max-width: 70%;
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: $mobile) {
  .page-node-type-article {
    article {
      /* Control image width */
      .field--name-field-image {
        float: none;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0.75rem;
        width: 100%;
      }
    }
  }
  .page-node-type-feature {
    article {
      .is-full {
        .main-caption {
          margin: 0.5rem;
          font-size: 0.9rem;
        }
        .node__content > .field {
          margin: 2rem 1rem 1rem;
        }
        .node__content > .field--name-body {
          margin: 0;
          p, blockquote {
            margin: 1rem;
          }
        }
      }
    }
  }
}