@import "./vars";

/* Article formatting. */
.page-node-type-article {
  #block-tiempos-local-tasks {
    background-color: $black;
    margin-bottom: 0;
    .tabs {
      margin: 0;
      border: none;
    }
  }
  article {
    flex-wrap: wrap;
    margin: 0;
    .is-one-quarter {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
    }
    .is-three-quarters {
      img {
        width: 100%;
      }
    }
    .is-full {
      .main-caption {
        margin: auto;
        color: $black;
      }
      .node__content {
        padding: 5rem 0 3rem;
        p {
          margin: 0 4rem $column-gap 13rem;
          font-size: 1.2rem;
          line-height: 2rem;
        }
        figure {
          width: 100%;
          width: -moz-available;          /* WebKit-based browsers will ignore this. */
          width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
          width: stretch;
          img {
            width: 100%;
            width: -moz-available;          /* WebKit-based browsers will ignore this. */
            width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
            width: stretch;
            height: auto;
          }
          figcaption {
            font-family: $lato;
            font-size: $size-7;
            margin-left: 3rem;
            margin-bottom: 2rem;
            color: $black
          }
        }
      }
    }
    .node__submitted {
      a {
        color: $white-ter;
      }
    }
  }
}