@import "./vars";

/* Additional Helper Classes. */
.is-really-invisible {
  visibility: hidden!important;
  display: none!important;
}

.is-really-visible {
  visibility: visible!important;
  display: block!important;
}

/* Match mixin. */
.border-top-light {
  border-top: 10px solid $grey-light;
}

/* Match font */
.is-sans-serif {
  font-family: $sans-serif;
}

/* Navigation on mobile */
.border-bottom {
  border-bottom: 2px solid #000;
}

@media screen and (min-width: $tablet) {
  .is-pulled-right-desktop {
    float: right;
  }
}
