@import "./vars";

/* Additional Helper Classes. */
.is-really-invisible {
  visibility: hidden;
  display: none;
}

/* Match mixin. */
.border-top-light {
  border-top: 1px solid $grey-light
}

/* Match font */
.is-lato {
  font-family: $sans-serif;
}


@media screen and (min-width: $tablet) {
  .is-pulled-right-desktop {
    float: right;
  }
}