@import "../node_modules/bulma/sass/utilities/initial-variables";

/* Additional Helper Classes */
.is-really-invisible {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: $tablet) {
  .is-pulled-right-desktop {
    float: right;
  }
}