@import "../node_modules/bulma/sass/utilities/initial-variables";

#main-nav {
  .navbar {
    border-bottom: 1px solid $grey-light;
    .navbar-brand {
      .navbar-burger {
        margin-left: 0;
        span {
          height: 2px;
        }
      }
    }
    .navbar-start {
      position: fixed;
      top: 0;
      left: 0;
      height:100%;
      width: 100%;
      background-color: $white;
      .navbar-item {
        width: fit-content;
      }
      .navbar-burger {
        z-index: 999;
      }
      .block-system-branding-block {
        text-align: center;
        position: absolute;
        top: 0;
        margin: auto;
        width: 100%;
        z-index: -1;
        .site-logo {
          img {
            width: 50vw;
          }
        }
      }
    }
  }
}
