@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "./vars";

#main-nav {
  .navbar {
    @include border-bottom-light;
    .navbar-start {
      position: fixed;
      top: 0;
      left: 0;
      height:100%;
      width: 100%;
      background-color: $white;
      .navbar-item {
        width: fit-content;
      }
      .navbar-burger {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
      }
      .block-system-branding-block {
        text-align: center;
        position: absolute;
        top: 3rem;
        margin: auto;
        width: 100%;
        z-index: -1;
        .site-logo {
          img {
            width: 38vw;
          }
        }
      }
    }
  }
}

/* Move menu below admin toolbar. */
.toolbar-fixed {
  #main-nav {
    .navbar {
      .navbar-start {
        padding-top: 3rem;
        .navbar-burger {
          top: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: $desktop - 1px) {
  /* Make sure navbar completely hidden */
  #main-nav {
    .navbar {
      min-height: 0;
      border-bottom: 0;
    }
  }
}

.user-menu {
  .button, .button:first-child {
    margin-left: 0.5rem;
    margin-right: 0;
    font-family: $lato;
    font-size: 0.7rem;
  }
}
