@import "./vars";

/**
 * Styles build on bulma nav component.
 */

#main-navbar-menu {
  justify-content: center;
  a {
    height: 100%;
  }
  .dropdown {
    > div {
      height: 100%;
    }
    .dropdown-menu {
      padding-top: 2px;
      .dropdown-content {
        border-radius: 0;
        box-shadow: none;
        padding-bottom: 0;
        padding-top: 0;
        display: flex;
        width: fit-content;
        a {
          @include border-bottom-light;
          background-color: $white;
        }
      }
    }
  }
}

/* User Menu */
.user-menu {
  .button, .button:first-child {
    margin-left: 0.5rem;
    margin-right: 0;
    display: flex;
  }
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .menu-item {
    flex: 1 1 30%;
    display: flex;
    a {
      flex: 1 1 100%;
    }
  }
}

/* Breadcrumbs */
.breadcrumb {
  /* Override Drupal default css. */
  margin-bottom: calc(#{$column-gap} * 2)!important;
  padding-bottom: 0!important;
  li {
    /* Override Drupal default css. */
    display: flex !important;
  }
}

/* Pager */
.pager {
  font-family: $sans-serif;
  font-size: $size-7;
}

@media screen and (min-width: $desktop) {
  .user-menu {
    justify-content: flex-end;
  }
  .region-header-right {
    .user-menu {
      flex-wrap: wrap;
      .button {
        width: 9rem;
      }
    }
  }
}

/* Default (Wide Screen) Desktop */
#main-nav {
  .navbar {
    @include border-top-bottom-light;

    /* navbar-start is only shown when hamburger clicked */
    .navbar-start {
      .column {
        flex-basis: 30%;
      }
      position: fixed;
      top: 0;
      left: 0;
      height:100%;
      width: 102%; /* why? */
      padding: 0.5rem 1.5rem 1rem 1rem;
      background-color: $white;
      .navbar-item {
        width: fit-content;
        max-width: 50%; /* some browsers do not understand fit-content */
      }
      /* Used to close "pop-up", override bulma margin. */
      .navbar-burger {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      /* The logo. */
      .block-system-branding-block {
        .site-logo {
          img {
            width: 30vw;
          }
        }
      }
      .block-search {
        margin-left: $column-gap;
      }
    }
    .navbar-end {
      /* Social Icons */
      display: flex;
      align-items: center;
      position: absolute;
      top: -40px;
      right: 0;
      a {
        margin-right: $column-gap;
      }
    }
  }
}

/* Tablet */
@media screen and (max-width: $desktop - 1px) {
  #main-nav {
    .navbar {
      /* Make sure navbar completely hidden */
      min-height: 0;
      border-bottom: 0;
      /* Show User Menu in pop-up, using is-hidden-touch to identify the menu. */
      .navbar-start {
        /* Align menu to right. */
        .navbar-menu {
          display: block!important;
          height: fit-content;
          width: fit-content;
          float: right;
          .button, .button:first-child {
            display: block;
            width: 100%;
            margin-left: 0;
            margin-bottom: 0.3rem;
            height: 1.6rem; /* Fix padding. */
          }
        }
      }
      .navbar-start {
        [data-drupal-selector=search-block-form] {
          /* Stop search icon from jumping. */
          line-height: 2rem;
        }
        [data-drupal-selector=search-edit-submit] {
          cursor: pointer;
          margin-right: 0.5rem;
        }
      }
      /* Social Icons */
      .navbar-end {
        position: absolute;
        top: -2.6rem;
        right: 0;
        margin-right: 0;
        z-index: -1; // Prevent display in "pop-up" menu
      }
    }
  }
  .user-menu {
    float: right;
  }

  /* Close X in front of user menu */
  .region-navigation {
    z-index: 32;
  }

  /* Move menus below admin toolbar. */
  .toolbar-fixed, .toolbar-vertical {
    .navbar-start {
      margin-top: 20px;
    }
  }
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open {
    .navbar-start {
      margin-top: 60px;
    }
  }

  /* To show header in moble menu */
  .z-index-fix {
    z-index: 35;
    float: right;
    width: fit-content;
    max-width: 30%; /* IE & Edge */
    position: fixed;
    right: 0;
    &.region-top-bar {
      margin-right: $column-gap;
    }
  }
}

/* Mobile */
@media screen and (max-width: $desktop - 1px) {
  #main-nav {
    .navbar {
      border-top: 0;
      .navbar-start {
        .block-system-branding-block {
          @include is-really-invisible;
        }
      }
      /* Social Icons */
      .navbar-end {
        position: absolute;
        top: -2.6rem;
        right: 0;
        z-index: -1; // Prevent display in "pop-up" menu
        a {
          margin-left: 0.5rem;
          .is-size-3 {
            font-size: 1.5rem!important;
          }
        }
      }
    }
  }
}
