@import "./vars";

.region-header-left, .region-header-center, .region-header-right {
  padding-bottom: 0;
  .block {
    margin-bottom: 0;
  }
}

.region-header-left {
  /* Adjust spacing to line up text. */
  padding: 1.5rem 0.75rem 0 1.5rem;
}

.region-header-center {
  /* Make logo bigger */
  flex-grow: 2;
}

.region-header-right {
  /* No top padding becuase header aligns center. */
  padding: 0 1.5rem 0 0.75rem;;
}

.region-content {
  flex-wrap: wrap;
}

.region-sidebar {
  flex-wrap: wrap;
  @include border-left-light;
  padding-top: 0;
}

@media screen and (max-width: $tablet - 1px) {
  .region-header-left {
    padding: $column-gap $column-gap 0 $column-gap;
    height: 3.5rem;
  }
  .region-header-right {
    padding: $column-gap $column-gap 0 $column-gap;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: $desktop - 1px) {
  .region-header-right {
    /* Fine tuning weather widget */
    padding: 0.5rem calc(#{$column-gap} * 2) 0 $column-gap;
  }
}