@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "./vars";

header {
  border-bottom: 1px solid $grey-light;
}

@media screen and (max-width: $tablet - 1px) {
  header {
    padding-bottom: 1rem;
  }
}

.region-header {
  .block {
    margin-bottom: 0;
  }
}

.region-content {
  flex-wrap: wrap;
}

.region-sidebar {
  flex-wrap: wrap;
  @include border-left-light;
}