@import "../node_modules/bulma/sass/utilities/initial-variables";

header {
  border-bottom: 1px solid $grey-light;
}

.region-header {
  .block {
    margin-bottom: 0;
  }
}

.region-content {
  flex-wrap: wrap;
}