@import "./vars";

@media screen and (min-width: $desktop) {
  /* Move Social icons into Navbar, depends on site main links, logo and number of icons */
  .bctribune {
    #main-nav .navbar .navbar-end {
      /* Social Icons */
      position: inherit;
      top: 0;
    }
  }
}

/* Giddings subheads */
.page-node-type-article.giddingstimes {
  .field--name-field-subhead {
    .field__item {
      p {
        font-weight: bold;
      }
    }
  }
}
