@import "./vars";

@media screen and (min-width: $desktop) {
  /* Move Social icons into Navbar, depends on site main links, logo and number of icons */
  .bctribune, .schulenburgsticker {
    #main-nav .navbar .navbar-end {
      /* Social Icons */
      position: inherit;
      top: 0;
    }
  }
  .welchpublishing footer .region {
    flex-basis: 30%;
  }
}

/* left as example of font change
body.aroundosceola, .aroundosceola footer {
  font-family: sans-serif;
}
*/