@import "./vars";

h1, h2, h3, h4, h5, h6 {
  font-weight: $weight-semibold;
  line-height: 1.5rem;
}

.is-size-3 {
  line-height: 2.2rem;
}

body {
  font-family: $serif;
}

input {
  font-family: $sans-serif;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

svg, img {
  outline: none;
}

a {
  color: $black-bis;
  box-shadow: none;
  &:hover {
    color: $blue!important;
  }
}

.section-tag-heading {
  @include section-tag-heading;
  svg {
    font-size: 0.8rem;
  }
}

.submitted {
  @include submitted;
}

.node--view-mode-full {
  .field--name-field-subhead {
    font-size: $size-5;
    font-weight: 500;
  }
  .field--name-body {
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.region-sidebar {
  p:not(.submitted) {
    font-size: 0.9rem;
  }
}

footer {
  font-size: $size-7;
  font-family: $sans-serif;
  .footer-menu {
    li > a {
      /* Fix padding. */
      padding-top: .375em;
    }
  }
}