@import "./vars";

h1, h2, h3, h4, h5, h6 {
  font-weight: $weight-semibold;
}

body {
  font-family: $petrona;
}

input {
  font-family: $lato;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

svg, img {
  outline: none;
}

a {
  color: $black-bis;
  box-shadow: none;
  &:hover {
    color: $blue!important;
  }
}

.section-tag-heading {
  @include section-tag-heading;
  svg {
    font-size: 0.8rem;
  }
}

.submitted {
  @include submitted;
}

.region-sidebar {
  p:not(.submitted) {
    font-size: 0.9rem;
  }
}

footer {
  font-size: $size-7;
  font-family: $lato;
  .footer-menu {
    li > a {
      /* Fix padding. */
      padding-top: .375em;
    }
  }
}