@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "./vars";

body {
  font-family: $petrona;
}

input {
  font-family: $lato;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

svg, img {
  outline: none;
}

a {
  color: $black-bis;
  box-shadow: none;
  &:hover {
    color: $blue;
  }
}