@import "../node_modules/bulma/sass/utilities/initial-variables.sass"

// copied from bulma/sass/grid/columns.sass
$column-gap: 0.75rem !default

// extra small breakpoint
$mobile: 467px

// emulate bulma .column for elements that are hard to add css classes to
@mixin column
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  padding: $column-gap

@mixin column-no-padding-top
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  padding: 0 $column-gap $column-gap $column-gap

@mixin column-no-padding-bottom
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  padding: $column-gap $column-gap 0 $column-gap

@mixin column-no-padding-top-left-bottom
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  padding: 0 $column-gap 0 0

@mixin column-no-padding-top-right
  display: block
  flex-basis: 0
  flex-grow: 1
  flex-shrink: 1
  padding: 0 0 $column-gap $column-gap

/* Center column for tiempos theme */
@mixin column-no-padding-top-right-bottom-grow
  display: block
  flex-basis: 0
  flex-grow: 2
  flex-shrink: 1
  padding: 0 0 0 $column-gap

@mixin border-light
  border: 1px solid $grey-light

@mixin border-bottom-light
  border-bottom: 1px solid $grey-light

@mixin border-top-light
  border-top: 1px solid $grey-light

@mixin border-top-bottom-light
  border-top: 1px solid $grey-light
  border-bottom: 1px solid $grey-light

@mixin border-left-light
  border-left: 1px solid $grey-light

@mixin border-right-light
  border-left: 1px solid $grey-light

@mixin is-really-invisible
  visibility: hidden!important
  display: none!important

@mixin is-really-visible
  visibility: visible!important
  display: block!important

// Fonts
$serif: "Petrona", serif
$sans-serif: "Open Sans", sans-serif

@mixin section-tag-heading
  text-transform: uppercase
  padding-bottom: 0.3rem
  margin-bottom: 0.3rem
  font-size: 0.9rem
  color: $black-bis
  @include border-bottom-light

@mixin submitted
  color: $grey
  font-size: 0.6rem
  margin-top: 0.2rem