@import "./vars";

/* Emulate column css for Front Page View top-level divs. See vars.sass. */
.view-id-frontpage.columns > .attachment {
  @include column-no-padding-top;
}

.view-id-frontpage.columns > .view-content {
  @include column-no-padding-top-right;
}

.view {
  h2 {
    font-size: 1.2rem;
  }

  /* Make image fill defined space, might cause upscaling */
  .field--type-image {
    img {
      width: 100%;
    }
  }

  /* For unformatted Views without default classes */
  .view-content > div {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Make sure image is as wide as page for tablet. */
.region-content {
  #block-tiempos-content {
    .view-content {
      img {
        width: 100%;
      }
    }
  }
  .views-element-container {
    /* Adjust section header */
    h3.section-tag-heading {
      margin-left: $column-gap;
    }
  }
}

/* Front Page Sections */
#block-views-block-front-page-sections-block-1,
#block-views-block-front-page-sections-block-2 {
  .view-content {
    display: flex;
    margin-right: -$column-gap;
  }
  .view-content > div {
    @include column;
  }
}

@media screen and (max-width: $tablet - 1px ) {
  /* Hide attachment-before on mobile. */
  .view-id-frontpage.columns > .attachment-before {
    display: none;
  }

  /* Emulate columns for front page sections. */
  #block-views-block-front-page-sections-block-1,
  #block-views-block-front-page-sections-block-2 {
    .view-content {
      display: block;
    }
    .view-content > div {
      @include column;
    }
  }
}