@import "./vars";

/* Front Page Attachment View (left-hand column). */
.view-id-frontpage.columns > .attachment {
  /* Emulate column css. */
  @include column-no-padding-top-left-bottom;
  .view-content {
    & > div > a {
      /* Deal with images that are taller than wide. */
      float: left;
      width: 40%;
      margin-right: 0.5rem;
      margin-top: 0.2rem;
    }
    h2 {
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
    /* Teaser formatting, for sites that use it. */
    .node--view-mode-teaser {
      margin-bottom: 0;
      h2 {
        font-size: 1.1rem;
        line-height: 1.4rem;
      }
      .image-container {
        float: left;
        width: 40%;
        margin-right: 0.5rem;
        margin-top: 0.1rem;
        position: relative;
        top: 0.1rem;
      }
      .field--name-body {
        margin-bottom: 0;
        /* Fine-tuning. TODO: Why does Feature not have p tag? */
        line-height: 1.3rem;
        p {
          /* Fine-tuning. */
          line-height: 1.3rem;
        }
      }
    }
  }
}

/* Front Page Featured View (center column). */
.view-id-frontpage.columns > .view-content {
  @include column-no-padding-top-right-bottom-grow;
  & > div > a {
    /* Deal with images that are taller than wide. */
    margin: auto;
    display: table;
  }
  h2 {
    line-height: 1.8rem;
  }
}

/* Generic. */
.view {
  h2 {
    font-size: 1.2rem;
  }

  /* Make image fill defined space, might cause upscaling */
  .field--type-image {
    img {
      width: 100%;
    }
  }

  /* For unformatted Views without default classes */
  .view-content > div {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Front Page Sections & Business Directory. */
#block-views-block-front-page-sections-block-1,
#block-views-block-front-page-sections-block-2,
#block-views-block-front-page-sections-block-3,
#block-views-block-front-page-sections-block-4,
#block-views-block-front-page-sections-block-1-2,
#block-views-block-front-page-sections-block-1-3,
#block-views-block-front-page-sections-block-2-2,
#block-views-block-business-directory-block-1,
#block-views-block-special-sections-block-1 {
  .view-content {
    display: flex;
    margin-left: -$column-gap;
    margin-right: -$column-gap;
  }
  .view-content > div {
    @include column;
    /* For Special Sections, might have adverse effects elsewhere. */
    div {
      flex: 1 1 100%;
    }
  }
}

/* Special Sections TODO: remove */
#block-views-block-special-sections-block-1 {
  .views-view-grid .views-col {
    padding-right: $column-gap;
  }
}

/* Taxonomy Pages. */
.view-taxonomy-term {
  /* Page title is faked in View header. */
  #block-tiempos-page-title {
    @include is-really-invisible;
  }
  .view-header {
    /* Emulate page title. */
    margin-bottom: 1.5rem;
  }
  .view-content {
    & > div {
      border-bottom: 1px solid $grey-lighter;
      padding-bottom: 1rem;
    }
    & > div:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: calc(#{$column-gap} * 2);
    }
  }
  /* Teaser formatting. */
  .node--view-mode-teaser {
    /* These items to make teaser full-width and as tall as image. */
    display: inline-block;
    width: 100%;
    .field--name-field-ad-category {
      margin-bottom: 0;
      font-family: $sans-serif;
      font-size: $size-7;
    }
    .image-container {
      float: right;
      width: 30%;
      margin-left: 0.5rem;
      margin-top: 0.3rem;
      img {
        width: 100%;
      }
    }
  }
}

/* Front Page Sections, class is applied in the View */
.front-page-sections {
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: auto;
    }
  }
}

/* Special Sections Page. */
.path-special-sections {
  article {
    margin-bottom: $column-gap;
  }
}

/* Video Page. */
.path-videos {
  .view-videos {
    .view-content {
      margin-bottom: calc(#{$column-gap} * 2);
      .field--name-field-video-embed {
        margin-bottom: 0.2rem;
      }
    }
    .attachment {
      h2 {
        font-size: 1rem;
        line-height: 1.1rem;
        margin-bottom: 0.2rem;
      }
      .field--name-body {
        p {
          font-size: 0.9rem;
          line-height: 1.1rem;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  #block-views-block-mobile-front-page-block-1 {
    @include is-really-invisible;
  }
}

@media screen and (min-width: $desktop) {
  /* Section Pages Formatting */
  .view-taxonomy-term {
    article.node--type-feature.node--view-mode-teaser,
    article.node--type-article.node--view-mode-teaser {
      position: relative;
      .node__content {
        h2, .field--name-body {
          margin-left: 8rem;
        }
        .submitted {
          position: absolute;
          top: 0;
          max-width: 7rem;
          margin-top: 0;
          .field--name-uid {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}


@media screen and (max-width: $tablet - 1px ) {
  /* Hide attachment-before on mobile. */
  .view-id-frontpage,
  #block-views-block-front-page-sections-block-1,
  #block-views-block-front-page-sections-block-2,
  #block-views-block-front-page-sections-block-1-2,
  #block-views-block-front-page-sections-block-1-3,
  #block-views-block-front-page-sections-block-2-2,
  #block-views-block-front-page-sections-block-3,
  #block-views-block-front-page-sections-block-4 {
    @include is-really-invisible;
  }
  /* Teaser formatting. */
  #block-views-block-mobile-front-page-block-1, .view-taxonomy-term  {
    .view {
      padding: 0 0.75rem;
    }
    .node--view-mode-teaser {
      min-height: 30vw;
      &:not(last-child) {
        margin-bottom: $column-gap;
      }
      img {
        float: right;
        width: 48%;
        margin-right: 0;
        margin-left: $column-gap;
        margin-top: 0.3rem;
      }
      .field--name-body {
        margin-bottom: 0;
        display: inline;
        p {
          /* Fine-tuning. */
          line-height: 1.4;
        }
      }
    }
  }

  /* Special Sections Page. */
  .path-special-sections {
    article {
      display: flex;
      flex-wrap: wrap;
      a {
        flex: 1 0 100%;
      }
    }
  }
}