<div style="display:flex; justify-content: center; align-items: center;">
    <p id="the_message" class="PicoRule">Please wait while we check access.</p>
</div>
<script src="/libraries/crypto-js.js"></script>
<script src="/libraries/Encryption.js"></script>
<script type="text/javascript">
    let encryption = new Encryption();
    window.addEventListener('pico.loaded', function() {
        window.location.href = window.Pico.user.verified === true ? encryption.decrypt('{{ url }}', '{{ salt }}'):'/';
    })
</script>