<p id="the_message" class="PicoRule">Please wait while we check
    access.</p>
<script src="/web/modules/custom/etype/modules/etype_pico/js/crypto-js.js"></script>
<script src="/web/modules/custom/etype/modules/etype_pico/js/Encryption.js"></script>
<script type="text/javascript">
    window.addEventListener('pico.loaded', function() {
        // console.log(window.Pico.user);
        if (window.Pico.user.verified === true) {
            window.location.href = encryption.decrypt('{{ url }}', 'pico_key');
        } else {
            window.location.href = "/";
        }
    })
</script>