<p id="the_message">Please wait while we check access.</p>
<script>
    console.log(window.location.pathname);
    if (typeof window.Pico === 'undefined') {
        document.getElementById("the_message").text('Please log in to read the e-Edition.');
    } else {
        window.location.href = "{{ url }}";
    }
</script>