<div style="display:flex; justify-content: center; align-items: center;">
    <p>Please wait, checking access.</p>
</div>
<script src="/libraries/crypto-js.js"></script>
<script src="/libraries/Encryption.js"></script>
<script src="/core/assets/vendor/jquery/jquery.js"></script>
<script src="/modules/custom/etype/modules/etype_pico/js/etype_pico_auth.js"></script>
<div id="pico">
</div>