<p id="the_message" class="PicoRule">Please wait while we check access.</p>
<script type="text/javascript">
    if (typeof window.Pico === 'undefined') {
        document.getElementById("the_message").textContent =
                'Log in to read the e-Edition.';
    } else {
        window.location.href = "{{ url }}";
    }
</script>