<p>Please wait while we check access.</p>
<script>
    if (window.Pico.user !== 'undefined') {
        window.location.href = "{{ url }}";
    } else {
        document.write('Please log in to read the e-Edition.');
    }
</script>