<p id="the_message" class="PicoRule">Please wait while we check
    access.</p>
<script src="../js/crypto-js.js"></script>
<script src="../js/Encryption.js"></script>
<script type="text/javascript">
    let encryption = new Encryption();
    window.addEventListener('pico.loaded', function() {
        window.location.href = window.Pico.user.verified === true ? encryption.decrypt('{{ url }}', 'pico_key'):'/'
    })
</script>