<div style="display:flex; justify-content: center; align-items: center;">
    <p>Please wait, checking access.</p>
</div>
<script type="text/javascript">
    window.addEventListener('pico.loaded', function() {
        /// window.location.href = window.Pico.user.verified === true ? encryption.decrypt('{{ url }}', '{{ salt }}')
        // :'/';
        window.location.href = window.Pico.user.verified === true ? '{{ url }}' : '/';
    })
</script>