.region-sidebar .block-etype-block p {
  font-size: 1.2rem;
}

#block-wdnonline-views-block-front-page-sections-block-2 {
  clear: both;
}

#main-navbar-menu a {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
}

.region-sidebar .fc-toolbar .fc-right {
  float: none;
}

.is-sans-serif {
  font-family: "Manrope", sans-serif;
}

#block-wdnonline-branding {
  a {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

#block-views-blockadvertisements-block-3 {
  clear: both;
}

#block-eeditionextratext {
  margin-bottom: 0;
}

#block-wdnonline-facebooksidebar {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  #block-eeditionextratext, #block-wdnonline-searchform {
    visibility: hidden;
    display: none;
  }
}