.user-logged-in a[data-drupal-link-system-path="etype-login"] {
  display: none!important;
  visibility: hidden;
}

/* Show or hide e-Edition link based on logged in status */
.user-logged-in #etype_login_e_edition {
  display: block;
  visibility: visible;
}

#etype_login_e_edition {
  display: none;
  visibility: hidden;
}

/* eType login Subscibe link */
.user-logged-in #etype_login_subscribe {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1087px) {
  .user-logged-in #main-nav .navbar .navbar-start .navbar-menu .button#etype_login_e_edition {
    display: block;
    visibility: visible;
  }

  #main-nav .navbar .navbar-start .navbar-menu .button#etype_login_e_edition {
    display: none;
    visibility: hidden;
  }
}
