@media screen and (min-width: 1024px) {
  body:not(.page-node-type-feature) #main-nav .navbar {
    background-color: #217db0;
  }
  .navbar-item {
    color: #ffffff;
  }
  .navbar-link.is-active,
  a.navbar-item.is-active {
    color: #ffffff;
  }
  .navbar-end a.has-text-grey-dark {
    color: #ffffff!important;
  }
  .navbar-end a.has-text-grey-dark:hover {
    color: #020d4e!important;
  }
}

h2,
h2 a,
h3,
h3 a,
h3.section-tag-heading {
  color: #217db0;
}
