@media screen and (min-width: 1024px) {
  body:not(.page-node-type-feature) #main-nav .navbar {
    background-color: #217db0;
  }
  .navbar-item {
    color: #ffffff;
  }
  .navbar-link.is-active,
  a.navbar-item.is-active {
    color: #ffffff;
  }
  .navbar-end a.has-text-grey-dark {
    color: #ffffff!important;
  }
  .navbar-end a.has-text-grey-dark:hover {
    color: #185c81!important;
  }
}

h2,
h2 a,
h3,
h3 a,
h3.section-tag-heading {
  color: #217db0;
}
a:hover {
  color: #185c81!important;
}

.user-menu .has-background-black-bis,
.footer-menu .has-background-black-bis {
  background-color: #217db0!important;
}

.user-menu a.has-background-black-bis:hover,
.footer-menu a.has-background-black-bis:hover {
  color: #bfe1f3!important;
}

.front-page-sections .view-content .image-container {
  background-color: #eaf5fb!important;
}

.view-id-frontpage.columns > .attachment .view-content .image-container {
  overflow: hidden;
  max-height: 77px;
}

#block-etypeeedition {
  display: grid;
  grid-template-columns: 47% 47%;
  column-gap: 6%;
}
