@media screen and (min-width: 1024px) {
  body:not(.page-node-type-feature) #main-nav .navbar {
    background-color: #217db0;
    border: 1px solid #b5b5b5;
  }
  .navbar {
    padding: 0 2rem;
  }
  .navbar-item {
    color: #ffffff;
  }
  .navbar-link.is-active,
  a.navbar-item.is-active {
    color: #ffffff;
  }
  .navbar-end a.has-text-grey-dark {
    color: #ffffff!important;
  }
  .navbar-end a.has-text-grey-dark:hover {
    color: #185c81!important;
  }
}

@media screen and (max-width: 1023px) {
  #block-thedcregister-weatherwidget {
    display: none;
    visibility: hidden;
  }
}

body {
  background-color: #eaf5fb;
}

.region-leaderboard {
  margin-bottom: 1.2rem;
}

#main-nav {
  padding-left: 0;
  padding-right: 0;
}

main {
  background-color: #ffffff;
  border-radius: 5px;
}

main .main-content-inner {
  margin: 0.75rem auto;
}

.view-id-frontpage.columns > .attachment .view-frontpage {
  border-right: 1px solid #b5b5b5;
  padding-right: 0.75rem;
}

.view-id-frontpage.columns > .attachment .view-content > div {
  border-bottom: 1px solid #b5b5b5;
  padding-bottom: 0.75rem;
}

.front-page-sections .view-content > div:not(:last-child) {
  border-right: 1px solid #b5b5b5;
}

footer.border-top-light {
  border: none;
}

h2,
h2 a,
h3,
h3 a,
h3.section-tag-heading,
a {
  color: #217db0;
}
a:hover {
  color: #185c81!important;
}

.user-menu .has-background-black-bis,
.footer-menu .has-background-black-bis {
  background-color: #217db0!important;
}

.user-menu a.has-background-black-bis:hover,
.footer-menu a.has-background-black-bis:hover {
  color: #bfe1f3!important;
}

.front-page-sections .view-content .image-container {
  background-color: #eaf5fb!important;
}

.view-id-frontpage.columns > .attachment .view-content .image-container {
  overflow: hidden;
  max-height: 77px;
}

.view-id-frontpage.columns > .attachment .view-header h3 {
  margin-bottom: 1rem;
}

#block-thedcregister-date p.is-size-7 {
  color: #217db0;
  font-size: 1rem!important;
}


#block-etypeeedition {
  display: grid;
  grid-template-columns: 47% 47%;
  column-gap: 6%;
}

#block-thedcregister-facebookfeed .field--name-body {
  text-align: center;
}

.path-taxonomy .node__content,
.path-taxonomy .node__content .submitted {
  color: #217db0;
}
