#edit-field-section {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

#edit-field-section-42,
#edit-field-section-43,
#edit-field-section-44,
#edit-field-section-45 {
  font-weight: bold;
}
