[submodule "FlexSlider"]
	path = FlexSlider
	url = https://github.com/woothemes/FlexSlider.git
[submodule "web/libraries/flexslider"]
	path = web/libraries/flexslider
	url = https://github.com/woothemes/FlexSlider.git
