@media screen and (min-width: 1024px) {
  #main-nav .navbar {
    border-top: 3px solid #075986;
    border-bottom: 3px solid #075986;
  }
}

@media screen and (max-width: 1023px) {
  .region-navigation.border-bottom {
    border-bottom: 2px solid #075986;
  }
  #main-nav .navbar .navbar-start .navbar-item {
    max-width: unset;
  }
}

body {
  color: #1a1818;
}

.navbar-link, a.navbar-item {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.user-menu {
  row-gap: 3px;
}

main .main-content-inner {
  border-right: 3px solid #075986;
}

.border-top-light {
  border-top: 3px solid #075986;
}

.button {
  border: none;
  font-weight: bold;
  padding-top: 6px;
  border-radius: 0;
}

.footer-menu {
  column-gap: 6px;
}

footer .footer-menu li > a {
  padding-top: 6px;
}

.has-background-gunnison-yellow {
  background-color: #fbd65b;
}

.section-tag-heading {
  border-bottom: 1px solid #075986;
}

.view-id-frontpage.columns > .view-content h2 {
  font-size: 1.6rem;
}
