/* Style fixes for the Checkout process */

#edit-login-register-user-picture-wrapper,
#edit-login-register-field-biography-wrapper,
#edit-login-register-field-phone-wrapper,
#edit-login-register-field-subscription-date-wrapper,
#edit-login-register-field-subscription-expiry-wrapper,
#edit-login-register-field-mailchimp-subscription-wrapper,
#edit-subscription-information,
#edit-login-register-field-biography-wrapper,
#edit-login-register-field-phone-wrapper,
#edit-login-register-field-subscription-date-wrapper,
#edit-login-register-field-subscription-expiry-wrapper,
#edit-login-register-field-mailchimp-subscription-wrapper,
.form-item-payment-information-add-payment-method-billing-information-copy-to-address-book,
.field--type-image,
#edit-login-returning-customer,
#edit-login-register legend {
  display: none;
  visibility: hidden;
}

#edit-login-register {
  padding: 0 1rem 0 0;
}

details {
  border: 0!important;
}

.details-wrapper {
  padding: 0!important;
}

.address-container-inline > .form-item {
  margin-right: 0!important;
}

.form-item-login-register-password-pass2 {
  margin-bottom: 0!important;
}

.password-parent {
  max-width: unset!important;
}

.form-wrapper__returning-customer,
.form-wrapper__guest-checkout {
  float: none;
}
.form-wrapper__guest-checkout .fieldset-wrapper {
  margin-top: -16px;
}

