a[data-drupal-link-system-path="user/login"] {
  display: block!important;
  visibility: visible;
}

.password-confirm,
.password-field,
.password-strength,
.password-confirm-match,
select,
.address-container-inline,
.form-type-textfield,
.form-item {
  width: 100%!important;
}
