.region-leaderboard-below-menu {
  margin-top: 2rem;

  .block-views-blockadvertisements-block-9 {
    .views-row {
      display: flex;
      justify-content: center;
      img {
        height: fit-content;
      }
    }
  }
}

.adblock {
  display: flex;
  justify-content: center;
}