@import "variables-and-mixins";

#block-localservices {
  margin-top: 47px;
  .content {
    display: flex;
    justify-content: center;
  }
}

#block-mostrecentpoll {
  legend {
    border-bottom: none;
  }
}