@import "variables-and-mixins";

#block-localservices {
  margin-top: 47px;
  .content {
    display: flex;
    justify-content: center;
  }
}

#block-mostrecentpoll {
  legend {
    border-bottom: none;
  }
}

#block-views-block-breaking-news-block-block-1 {
  margin-top: $column-gap;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  .content > div > div {
    display: flex;
    justify-content: left;
  }
  .title {
    margin-right: $column-gap;
  }
  .views-row {
    margin-right: $column-gap;
  }
}