@import "variables-and-mixins";

/*Front Page*/

.path-frontpage {
  .feed-icon {
    display: none;
  }

  .region-content {
    padding-top: 10px;
    #block-news-zymphonies-theme-content {
      /* Home page content */
      article {
        h2 {
          margin-bottom: 4px;
        }
        .comment-submitted {
          padding: 0 0 0.7rem 0.3rem;
          font-size: 1.3rem;
          border: none;
        }
      }
    }
  }

  .region-homepage {
    padding-top: 10px;
  }

}

.region-leaderboard-below-content, .region-leaderboard-footer {
  margin-bottom: 30px;
}

/* Services and Sections */
div[id*='block-views-block-special-sections-block'] {
  .flex-grid {
    @include flex-grid(20% 20% 20% 20% 20%);
    div.views-row {
      margin-bottom: $column-gap;
      display: flex;
      justify-content: center;
      &:first-child {
        margin-left: 0;
      }
      img {
        border: 1px solid $baseFontColor;
      }
    }
    .more-link {
      position: absolute;
      right: $column-gap;
      bottom: 0;
      svg {
        position: relative;
        top: 1px;
      }
    }
  }
}

/* Freeman SD */
/* TODO: a better way to do this */
.freemansd {
  div[id*='block-views-block-special-sections-block'] {
    .flex-grid {
      @include flex-grid(25% 25% 25% 25% );
    }
  }
}

/*Bottom Widgets*/

.bottom-widgets {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  background: #27ae60;
  color: #b4dec6;

  .block h2.title {
    margin: 5px 0 10px 0;
    color: #fff;
  }

  .row > div {
    border-right: 1px solid #2ec16c;

    &:last-child {
      border: 0;
    }
  }
}

.path-frontpage .bottom-widgets {
  padding: 20px 0;
}

