@import "variables-and-mixins";

.page-node-type-article {
  h1.page-title {
    font-size: 2rem;
  }

  article {
    margin-bottom: 2rem;
    &.node--view-mode-full {
      .comment-submitted {
        margin-bottom: calc(#{$column-gap} * 2);
      }
      .field--name-field-small-image {
        margin-right: $column-gap;
        float: left;
      }
      .field--name-field-long-caption {
        font-style: italic;
        font-size: 1.3rem;
        margin-top: 0.6rem;
        color: $linkColor;
        float: left
      }
    }
  }

  .field--name-field-subhead {
    p {
      font-weight: 600;
      margin: 20px 0 30px 0;
    }
  }

  .flexslider .slides {
    background-image: none;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    .flex-caption {
      font-style: italic;
      font-size: 1.3rem;
      margin-top: 0.6rem;
      color: $linkColor;
    }
    .flex-direction-nav {
      display: none;
      visibility: hidden;
    }
  }
}

article.node--view-mode-teaser {
  margin: calc(#{$column-gap} * 2) 0;
  .node__content {
    display: flex;
    .content-container {
      flex-grow: 1;
      h2 {
        margin: 0 0 $column-gap;
      }
    }
    .image-container {
      margin-left: $column-gap;
    }
  }
}