@import "variables-and-mixins";

@media (min-width: $medium) {
  .site-branding {
    padding: 20px 0;
  }

  .user-logged-in .main-header {
    position: relative;
  }

  /*flexslider*/

  .flexslider {

    .slider-caption {
      display: block;
    }

    .flex-direction-nav {
      display: block;
      margin-top: -24px;
    }

  }

  .testimonials-wrap {
    padding: 75px 0 55px;
  }

  .copyright {
    p {
      margin: 26px 0;
    }
  }

  .footerwidget img.left {
    float: left;
    margin: 10px 10px 0 0;
  }

  .main-menu {
    background: $desktopMenuBackgroundColor;
    border-bottom: 3px solid $linkColor;
    .container {
      width: 100%;
      #superfish-main {
        display: flex;
        justify-content: center;
        li {
          float: none;
        }
      }
    }
  }

  .region-primary-menu {
    display: block !important;
    width: auto;
    margin: 0;
    background: none;

    div[id*='mainnavigation'] {
      margin-bottom: 0;

      /* Direct override of superfish.css */
      ul.sf-menu li:hover > ul,
      ul.sf-menu li.sfHover > ul {
        top: 5rem;
      }
    }

    ul {
      border: 0;
      ul {
        background: $desktopMenuBackgroundColor;
        background: $desktopMenuDropDownBg;

        li a,
        li a:hover,
        li a:focus,
        li a:active,
        li a.highlighted {
          padding: 12px 12px 12px 20px;
        }
        li a {
          color: $desktopMenuTextColor;
        }
      }
    }

    li {
      border: 0;

      a {
        background: none;
        border: 0;
        color: $desktopMenuTextColor;
        white-space: nowrap;

        span.sub-arrow {
          padding: 0;
          top: 20px;
          margin-top: 0;
          bottom: 2px;
          right: 2px;
          margin-left: -5px;
          left: auto;
          width: 0;
          height: 0;
          border-width: 4px;
          border-style: solid;
          border-color: #848484 transparent transparent transparent;
          font-size: 2em;
          line-height: 100%;
        }
      }

      li {
        span.sub-arrow {
          top: 12px;
          border-color: transparent transparent transparent #848484;
        }
      }

      &.active a,
      a.is-active,
      &.active-trail a {
        background: $linkColor;
        color: $desktopMenuTextColor;
      }
    }
  }

  .carousel-caption p, .carousel-caption h3 {
    display: block;
  }

  .carousel-caption p:last-child {
    margin: 0;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.84);
    color: #ddd;
    text-shadow: none;
    padding: 20px;
    top: 20%;
    left: 10%;
    bottom: auto;
    width: 30%;
    text-align: left;
  }

  .credit-link {
    text-align: right;
  }

  .comment-wrap {

    .author-details {
      width: 10%;
    }

    .author-comments {
      width: 90%;
    }

  }

  .top-menu {

    .top-blocks {
      overflow: hidden;

      .region,
      .social-media {
        float: left;
      }
    }

  }

  .region-header-ads {
    display: block;
  }

}

@media (min-width: $medium) and (max-width: $large - 1) {
  .main-header {
    .topnav {
      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  .flexslider {
    .slides {
      height: 392px;
      overflow: hidden;
      .image-style-slideshow {
        height: 400px;
      }
    }
  }

  .region-primary-menu li a, .region-primary-menu li li a {
    padding: 17px 14px;
  }
}

@media (max-width: $medium - 1) {
  .footer {
    .container {
      .row {
        display: block;
        > div {
          margin-left: 15px;
        }
      }
    }
  }

  /* logo and header ad */
  .main-header .topnav .container .row {
    flex-wrap: wrap;
    justify-content: center;
    .navbar-header {
      margin-bottom: calc(#{$column-gap} * 2);
    }
  }

  /* Main menu on mobile */
  .main-menu {
    position: absolute;
    top: 24rem;
    left: 0;
    z-index: 999;
    width: 100%;
    .col-md-12 {
      padding: 0;
      .region-primary-menu {
        div[id*='mainnavigation'] {
          margin-bottom: 0;
          #superfish-main-accordion {
            margin-top: calc(#{$column-gap} * 2);
            li {
              a {
                font-family: "Roboto", sans-serif;
                color: $desktopMenuTextColor;
                border-bottom: 1px solid #ec5648;
                background-color: $desktopMenuBackgroundColor;
                &:hover {
                  color: #ee3224;
                }
              }
            }
          }
          .sf-accordion-toggle {
            display: none;
            visibility: hidden;
          }
        }
      }
    }
  }
}


@media (max-width: $small - 1) {
  article.node--view-mode-teaser {
    .node__content {
      .image-container {
        margin-right: 0;
        width: 100%;
        float: none;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}