/*Variables*/
/*Header*/
/*Menu Color*/
/*Spacing*/
/*Mixins*/
@media (min-width: 768px) {
  .site-branding {
    padding: 20px 0;
  }

  .user-logged-in .main-header {
    position: relative;
  }

  /*flexslider*/
  .flexslider .slider-caption {
    display: block;
  }
  .flexslider .flex-direction-nav {
    display: block;
    margin-top: -24px;
  }

  .testimonials-wrap {
    padding: 75px 0 55px;
  }

  .copyright p {
    margin: 26px 0;
  }

  .footerwidget img.left {
    float: left;
    margin: 10px 10px 0 0;
  }

  .main-menu {
    background: #19232d;
    border-bottom: 3px solid #ee3224;
  }
  .main-menu .container {
    width: 100%;
  }
  .main-menu .container #superfish-main {
    display: flex;
    justify-content: center;
  }
  .main-menu .container #superfish-main li {
    float: none;
  }

  .region-primary-menu {
    display: block !important;
    width: auto;
    margin: 0;
    background: none;
  }
  .region-primary-menu div [id~=mainnavigation] {
    margin-bottom: 0;
    /* Direct override of superfish.css */
  }
  .region-primary-menu div [id~=mainnavigation] ul.sf-menu li:hover > ul,
.region-primary-menu div [id~=mainnavigation] ul.sf-menu li.sfHover > ul {
    top: 5rem;
  }
  .region-primary-menu ul {
    border: 0;
  }
  .region-primary-menu ul ul {
    background: #19232d;
    background: #19232d;
  }
  .region-primary-menu ul ul li a,
.region-primary-menu ul ul li a:hover,
.region-primary-menu ul ul li a:focus,
.region-primary-menu ul ul li a:active,
.region-primary-menu ul ul li a.highlighted {
    padding: 12px 12px 12px 20px;
  }
  .region-primary-menu ul ul li a {
    color: #fff;
  }
  .region-primary-menu li {
    border: 0;
  }
  .region-primary-menu li a {
    background: none;
    border: 0;
    color: #fff;
    white-space: nowrap;
  }
  .region-primary-menu li a span.sub-arrow {
    padding: 0;
    top: 20px;
    margin-top: 0;
    bottom: 2px;
    right: 2px;
    margin-left: -5px;
    left: auto;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #848484 transparent transparent transparent;
    font-size: 2em;
    line-height: 100%;
  }
  .region-primary-menu li li span.sub-arrow {
    top: 12px;
    border-color: transparent transparent transparent #848484;
  }
  .region-primary-menu li.active a,
.region-primary-menu li a.is-active, .region-primary-menu li.active-trail a {
    background: #ee3224;
    color: #fff;
  }

  .carousel-caption p, .carousel-caption h3 {
    display: block;
  }

  .carousel-caption p:last-child {
    margin: 0;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.84);
    color: #ddd;
    text-shadow: none;
    padding: 20px;
    top: 20%;
    left: 10%;
    bottom: auto;
    width: 30%;
    text-align: left;
  }

  .credit-link {
    text-align: right;
  }

  .comment-wrap .author-details {
    width: 10%;
  }
  .comment-wrap .author-comments {
    width: 90%;
  }

  .top-menu .top-blocks {
    overflow: hidden;
  }
  .top-menu .top-blocks .region,
.top-menu .top-blocks .social-media {
    float: left;
  }

  .region-header-ads {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .main-header .topnav .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flexslider .slides {
    height: 392px;
    overflow: hidden;
  }
  .flexslider .slides .image-style-slideshow {
    height: 400px;
  }

  .region-primary-menu li a, .region-primary-menu li li a {
    padding: 17px 14px;
  }
}
@media (max-width: 767px) {
  .footer .container .row {
    display: block;
  }
  .footer .container .row > div {
    margin-left: 15px;
  }

  /* logo and header ad */
  .main-header .topnav .container .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-header .topnav .container .row .navbar-header {
    margin-bottom: calc(0.75rem * 2);
  }

  .region-primary-menu #block-mainnavigation {
    margin-bottom: 0;
  }
  .region-primary-menu #block-mainnavigation #superfish-main-accordion {
    margin-top: calc(0.75rem * 2);
    border-bottom: 20px solid #19232d;
  }
  .region-primary-menu #block-mainnavigation #superfish-main-accordion li a {
    font-family: "Roboto", sans-serif;
    color: #fff;
    border-bottom: 1px solid #ec5648;
    background-color: #19232d;
  }
  .region-primary-menu #block-mainnavigation #superfish-main-accordion li a:hover {
    color: #ee3224;
  }
  .region-primary-menu #block-mainnavigation .sf-accordion-toggle {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 639px) {
  article.node--view-mode-teaser .node__content .image-container {
    margin-right: 0;
    width: 100%;
    float: none;
  }
  article.node--view-mode-teaser .node__content .image-container img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=media.css.map */
