/* Use this file to override theme CSS rules */

/* Header Icons and Search Positioning */
#block-socialiconblockforheaderinnewstheme {
  float: left;
  width: fit-content;
  z-index: 9999;
}
#block-searchformdropdown {
  padding: 0;
}

/* Second Sidebar */
.region-sidebar-second {

  /* Most Recent Poll Block */
  #block-mostrecentpoll {

    /* Adjust choice box margins */
    #edit-choice--wrapper {
      margin: 1px 0;
    }

    /* Adjust Input Margin and Positioning */
    input[type="radio"], input[type="checkbox"] {
      margin: 0 4px 3px;
      position: relative;
      top: -2px;
    }

  }

}

/* Business Directory & Special Sections Blocks */
#block-views-block-special-sections-block-1 {
  .view-images {
    margin: 0;
  }
}