/* Use this file to override theme CSS rules */

/* Header Icons and Search Positioning */
#block-socialiconblockforheaderinnewstheme {
  float: left;
  width: fit-content;
  z-index: 9999;
}
#block-searchformdropdown {
  padding: 0;
}

/* Second Sidebar */
.region-sidebar-second {

  /* Most Recent Poll Block */
  #block-mostrecentpoll {

    /* Adjust choice box margins */
    #edit-choice--wrapper {
      margin: 1px 0;
    }

    /* Adjust Input Margin and Positioning */
    input[type="radio"], input[type="checkbox"] {
      margin: 0 4px 3px;
      position: relative;
      top: -2px;
    }

  }

}

/* Small Images */
article {
  &.node--view-mode-full {
    .field--name-field-small-image {
      float: left;
      margin-right: 0.75rem;
      margin-top: 0.3rem;
      margin-bottom: 0;
      max-width: 40vh;
    }
  }
  .field--name-field-long-caption {
    font-style: oblique;
    font-size: 1.4rem;
    color: #7d7d7d;
  }
  .field--name-field-tags {
    h3 {
      margin: 1px 0 0;
    }
  }
}

/* Business Directory & Special Sections Blocks */
#block-views-block-special-sections-block-1 {
  .view-images {
    margin: 0;
  }
}

/* Advertisement Blocks. */
.view-advertisements {
  .views-row {
    display: flex;
    justify-content: center;
    img {
      height: fit-content;
    }
  }
}

/* region-page-intro ads below main nav */
.block {
  padding: 15px 0;
  margin: 0;
}

/* Lightbox images - make wider for long captions */
.mfp-image-holder .mfp-content {
  max-width: 100%;
  width: 60%;
}

.premium_message {
  margin-top: 1rem;
  font-weight: bold;
}

/* Slider Image fix */
.slider-revolution img {
  max-width: 100%!important;
}

/* fix overlay in sidebar tabs */
.sidebar #block-sidebartabs {
  .views-field-field-image {
    .overlay {
      display: none;
    }
  }
}

/* Breaking news block */
#block-views-block-breaking-news-block-block-1 {
  display: flex;
  align-items: center;
  background-color: #ce0000;
  padding: 15px;
  .views-field-title a {
    line-height: 1.7;
    color: #ffffff;
  }
  .title {
    color: #ffffff;
    margin-bottom: 2px;
  }
  .content {
    margin-left: 1rem;
  }
}

/* Account Menu */
@media (min-width: 768px) {
  #pre-header-right ul.menu {
    text-align: right;
  }
}

@media (max-width: 991px) {
  #pre-header-right ul.menu .menu-item {
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #pre-header-inside .row {
    display: flex;
  }
}

/* Site specific */
.elrenotribune {
  #header-top {
    background-color: #ffffff;
  }
}

/* Ponca City Ad in Header, also menu weirdness - no Account Menu */
@media (min-width: 768px) {
  .poncacitynews #block-views-block-advertisements-block-7 {
    .view-advertisements .views-row {
      justify-content: flex-end;
    }
  }
}

@media (max-width: 767px) {
  .poncacitynews #block-weatherwidget {
    padding-top: 3rem;
  }
}

/* El Reno header */
@media (min-width: 992px) {
  .elrenotribune {
    #pre-header-inside {
      .col-md-4, .col-md-8 {
        width: 50%;
      }
    }
  }
}

/* Embedded Image padding */
.node--type-mt-post {
  .field--name-body {
    img.align-left {
      padding-right: 2rem;
    }
  }
}

.guthrienewsleader {
  #block-views-block-advertisements-block-11 {
    .views-row {
      padding-bottom: 12px;
    }
  }
}

.indydailyreporter {
  #pre-header, #header-top, #header, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #004d7b;
  }
}