/* ADA Compliance */
footer ul.gva_menu {
  padding-left: 0;
}

footer .gva_menu li {
  list-style: none;
}

#block-adacompliance {
  display: inline-block;
}

footer .navigation .gva_menu > li > a {
  padding: 0 0 20px;
}

#block-adacompliance {
  text-align: left;
}

@media (min-width: 992px) {
  footer .gva_menu {
    float: none!important;
  }
}
/* End ADA Compliance */
