// @import "../../../../themes/custom/tiempos/scss/vars";

#block-fredericksburgstandard-views-block-breaking-news-block-block-1 {
  display: flex;
  align-items: center;
  background-color: #ce0000;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-top: -1.5rem;
  .title, a {
    color: #ffffff;
    font-weight: bold;
  }
  .content {
    margin-left: 1rem;
  }
  .view .view-content > div {
    margin-bottom: inherit;
  }
}

/* fix mailchimp signup form */
#mc_embed_signup .mc-field-group.input-group input {
  margin-right: 0.5em;
}

/* switch image position on taxonomy pages */
@media screen and (max-width: $mobile) {
  .view-taxonomy-term {
    .node--view-mode-teaser {
      .image-container {
        float: left;
        width: 30%;
        margin-top: 0.3rem;
      }
      h2, .submitted, .field--name-body {
        margin-left: 32%;
      }
    }
  }
}