// @import "../../../../themes/custom/tiempos/scss/vars";

#block-fredericksburgstandard-views-block-breaking-news-block-block-1 {
  display: flex;
  align-items: center;
  background-color: #ce0000;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-top: -1.5rem;
  .title, a {
    color: #ffffff;
    font-weight: bold;
  }
  .content {
    margin-left: 1rem;
  }
  .view .view-content > div {
    margin-bottom: inherit;
  }
}