<div id="commerce-product-add-to-cart-form">
  <form action="/store" method="post" id="commerce-order-item-add-to-cart-form-commerce-product-5">

            <select data-drupal-selector="edit-purchased-entity-0-attributes-attribute-duration"
                    data-disable-refocus="true" id="edit-purchased-entity-0-attributes-attribute-duration"
                    name="purchased_entity[0][attributes][attribute_duration]" class="form-select required select"
                    required="required" aria-required="true">
              <option value="4" selected="selected">1 year</option>
              <option value="5">6 months</option>
              <option value="6">Current Issue</option>
            </select>

            <select data-drupal-selector="edit-purchased-entity-0-attributes-attribute-subscription-type"
                    data-disable-refocus="true" id="edit-purchased-entity-0-attributes-attribute-subscription-type"
                    name="purchased_entity[0][attributes][attribute_subscription_type]"
                    class="form-select required select" required="required" aria-required="true">
              <option value="9" selected="selected">Digital Only</option>
              <option value="7">Print &amp; Digital</option>
            </select>

            <select data-drupal-selector="edit-purchased-entity-0-attributes-attribute-gift" data-disable-refocus="true"
                    id="edit-purchased-entity-0-attributes-attribute-gift"
                    name="purchased_entity[0][attributes][attribute_gift]" class="form-select required select"
                    required="required" aria-required="true">
              <option value="11" selected="selected">No</option>
              <option value="10">Yes</option>
            </select>

    <input type="hidden"
           name="form_id" value="commerce_order_item_add_to_cart_form_commerce_product_5">

      <input class="button--add-to-cart button button--primary js-form-submit form-submit is-link"
             data-drupal-selector="edit-submit" type="submit" id="edit-submit--2" name="op" value="Checkout">

  </form>
</div>
