/* Copied from News+ and block name replaced */
.page-node-type-mt-post #block-cni8-page-title {
  display: none;
}

/* Make page full width */
@media (min-width: 992px) {
  .page-node-type-mt-post {
    #main-content section.col-md-8 {
      width: 95%;
      margin-left: 0;
    }
  }
}

/* Images in body field in articles */
#block-cni8-content {
  .node--view-mode-full {
    .field--name-body {
      figure.align-left {
        margin-right: 1em;
      }
      figure.align-right {
        margin-left: 1em;
      }
    }
  }
}

/* DFP Ads */
#block-dfptagcnidahlonegaleaderboard {
  margin: auto;
  width: 728px;
  padding-top: 15px;
}

/* Internal Banner Image Caption */
#block-cni8-views-block-mt-internal-banner-block-1 {
  .attachment {
    position: relative;
  }
}
#block-views-block-mt-internal-banner-block-2 {
  padding-bottom: 0;
  p:last-child  {
    padding-bottom: 0;
  }
}