@import "../../tiempos/scss/vars";

/* Nav overrides for Article nodes. */
.page-node-type-article {
  #navbar-burger {
    display: block;
    color: #ffffff;
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    margin: auto;
    height: 3.25rem;
    width: 3.25rem;
  }
  #main-nav {
    padding: 0;
    .navbar {
      /* Make sure navbar completely hidden, overriding bulma min-height. */
      min-height: 0;
      border: 0;
      /* Hide main menu and social icons always. */
      .navbar-end {
        @include is-really-invisible;
      }
    }
  }
}

/* Wider screen overrides for Article nodes. */
@media screen and (min-width: $desktop) {
  body:not(.page-node-type-article) {
    #main-nav {
      .navbar {
        /* Can't use is-hidden-desktop because of Article formatting. */
        .navbar-start {
          @include is-really-invisible;
        }
      }
    }
  }
  body.page-node-type-article {
    #main-nav {
      .navbar {
        .navbar-start {
          display: block;
          padding-top: 5rem;
          .user-menu {
            position: fixed;
            top: 1rem;
            right: calc(0.75rem * 2);
            height: fit-content;
            flex-flow: column;
          }
          .search-block-form {
            line-height: 2rem;
          }
        }
        .navbar-burger {
          display: block;
        }
        /* Keep main menu hidden. */
        #main-navbar-menu {
          @include is-really-invisible;
        }
      }
    }
  }
}

/* Article formatting. */
.page-node-type-article {
  #block-tiempos-local-tasks {
    background-color: $black;
    margin-bottom: 0;
    .tabs {
      margin: 0;
      border: none;
    }
  }
  article {
    flex-wrap: wrap;
    margin: 0;
    .is-one-quarter {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      .navbar-burger {
        position: absolute;
      }
      .page-title {
        margin-top: 2rem;
      }
    }
    .is-three-quarters {
      img {
        width: 100%;
      }
    }
    .is-full {
      .main-caption {
        margin: 0.5rem auto auto;
        color: $black;
      }
      .node__content {
        padding: 5rem 0 3rem;
        p {
          margin: 0 4rem $column-gap 13rem;
          font-size: 1.2rem;
          line-height: 2rem;
        }
        figure {
          width: 100%;
          width: -moz-available;          /* WebKit-based browsers will ignore this. */
          width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
          width: stretch;
          img {
            width: 100%;
            width: -moz-available;          /* WebKit-based browsers will ignore this. */
            width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
            width: stretch;
            height: auto;
          }
          figcaption {
            font-family: $sans-serif;
            font-size: $size-7;
            margin: 0.5rem auto 3rem 3rem;
            color: $black
          }
        }
      }
    }
    .node__submitted {
      a {
        color: $white-ter;
      }
    }
  }
}

@media screen and (max-width: $tablet - 1px ) {
  .page-node-type-article {
    article {
      .is-full {
        .node__content {
          p {
            margin: 0 4rem $column-gap 4rem;
          }
        }
      }
    }
  }
}