<div class="content"><p>We firmly believe that the internet should be available and accessible to anyone, and we are
        committed to providing a website that is accessible to the widest possible audience, regardless of
        circumstance and ability.</p>
    <p>To fulfill this goal, we aim to adhere as closely as possible to the Web
        Content Accessibility Guidelines 2.1 (WCAG 2.1) at the AA level. These guidelines explain how to make web
        content more accessible to people with a wide array of disabilities. Complying with those guidelines helps
        provide a site that is accessible to all people.</p>
    <p>This website is scanned regularly to confirm that the
        site elements and the content are in compliance with WCAG 2.1 standards.</p>

    <p>Our goal is the support the widest array of
        browsers and assistive technologies possible, so users can choose the best fitting tools for them.
        Our goal is minimal limitations for all users.</p>
    <p>Despite our best efforts to allow adjustment to
        the sites, there may still be pages or sections that are not fully accessible. We are constantly
        improving the accessibility of the site and the intent is to reach the optimal level of accessibility
        .</p>
    <p>If you have discovered a page or element that does not allow access or have ideas that might
        help us improve access to the site, we would be happy to hear from you. Please use the Contact
        button on any page, or send an email to the web team at <a
                href="mailto:support@etypeservices.com">support@etypeservices.com</a>.</p></div>