h2.title {
  color: #5B102E;
}

a {
  color: #5b102e;
}

a:hover {
  color: #5B102E;
}

.flexslider .slides {
  background-image: none;
}

@media (min-width: 768px) {
  .region-primary-menu li.active a, .region-primary-menu li a.is-active, .region-primary-menu li.active-trail a {
    color: #ffffff;
  }

  .main-menu {
    background: #5b102e;
    border-bottom: 3px solid grey;
  }
}

.region-primary-menu li a, .region-primary-menu li li a {
  color: #ffffff;
}

@media (max-width: 767px) {
  .main-menu .col-md-12 .region-primary-menu div[id*=mainnavigation] #superfish-main-accordion li a {
    background-color: #5b102e;
  }

  .region-primary-menu li.active a, .region-primary-menu li a.is-active, .region-primary-menu li.active-trail a {
    background: grey;
    color: #fff;
  }

}

#search-block-form input.form-submit {
  background-color: grey;
}