@import "../../tiempos/scss/vars";

@media screen and (min-width: $desktop) {
  #main-nav .navbar .navbar-end {
    position: inherit;
    top: 0;
  }
  .region-header-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: $column-gap;

    #block-tiemposbeaumont-branding {
      margin-bottom: 0;
      margin-right: $column-gap;
    }
  }
}

@media screen and (max-width: $desktop - 1px) {
  #main-nav .navbar {
    border-top: none;
  }
  .region-header-bottom {
    flex-wrap: wrap;
    margin-bottom: $column-gap;
  }
}