@import "../../tiempos/scss/vars";

#main-nav .navbar .navbar-end {
  position: inherit;
  top: 0;
}

.region-header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;

  #block-tiemposbeaumont-branding {
    margin-bottom: 0;
  }
}