/* Nav overrides for Article nodes. */
.page-node-type-article #navbar-burger {
  display: block;
  color: #ffffff;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  margin: auto;
  height: 3.25rem;
  width: 3.25rem; }
.page-node-type-article #main-nav {
  padding: 0; }
  .page-node-type-article #main-nav .navbar {
    /* Make sure navbar completely hidden, overriding bulma min-height. */
    min-height: 0;
    border: 0;
    /* Hide main menu and social icons always. */ }
    .page-node-type-article #main-nav .navbar .navbar-end {
      visibility: hidden !important;
      display: none !important; }

/* Wider screen overrides for Article nodes. */
@media screen and (min-width: 1088px) {
  body:not(.page-node-type-article) #main-nav .navbar {
    /* Can't use is-hidden-desktop because of Article formatting. */ }
    body:not(.page-node-type-article) #main-nav .navbar .navbar-start {
      visibility: hidden !important;
      display: none !important; }

  body.page-node-type-article #main-nav .navbar {
    /* Keep main menu hidden. */ }
    body.page-node-type-article #main-nav .navbar .navbar-start {
      display: block;
      padding-top: 5rem; }
      body.page-node-type-article #main-nav .navbar .navbar-start .user-menu {
        position: fixed;
        top: 1rem;
        right: calc(0.75rem * 2);
        height: fit-content;
        flex-flow: column; }
      body.page-node-type-article #main-nav .navbar .navbar-start .search-block-form {
        line-height: 2rem; }
    body.page-node-type-article #main-nav .navbar .navbar-burger {
      display: block; }
    body.page-node-type-article #main-nav .navbar #main-navbar-menu {
      visibility: hidden !important;
      display: none !important; } }
/* Article formatting. */
.page-node-type-article #block-tiempos-local-tasks {
  background-color: #0a0a0a;
  margin-bottom: 0; }
  .page-node-type-article #block-tiempos-local-tasks .tabs {
    margin: 0;
    border: none; }
.page-node-type-article article {
  flex-wrap: wrap;
  margin: 0; }
  .page-node-type-article article .is-one-quarter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; }
    .page-node-type-article article .is-one-quarter .navbar-burger {
      position: absolute; }
    .page-node-type-article article .is-one-quarter .page-title {
      margin-top: 2rem; }
  .page-node-type-article article .is-three-quarters img {
    width: 100%; }
  .page-node-type-article article .is-full .main-caption {
    margin: 0.5rem auto auto;
    color: #0a0a0a; }
  .page-node-type-article article .is-full .node__content {
    padding: 5rem 0 3rem; }
    .page-node-type-article article .is-full .node__content p {
      margin: 0 4rem 0.75rem 13rem;
      font-size: 1.2rem;
      line-height: 2rem; }
    .page-node-type-article article .is-full .node__content figure {
      width: 100%;
      width: -moz-available;
      /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available;
      /* Mozilla-based browsers will ignore this. */
      width: stretch; }
      .page-node-type-article article .is-full .node__content figure img {
        width: 100%;
        width: -moz-available;
        /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        width: stretch;
        height: auto; }
      .page-node-type-article article .is-full .node__content figure figcaption {
        font-family: "Open Sans", sans-serif;
        font-size: 0.75rem;
        margin: 0.5rem auto 3rem 3rem;
        color: #0a0a0a; }
  .page-node-type-article article .node__submitted a {
    color: whitesmoke; }

@media screen and (max-width: 768px) {
  .page-node-type-article article .is-full .node__content p {
    margin: 0 4rem 0.75rem 4rem; } }

/*# sourceMappingURL=extend.css.map */
