/* Center column for tiemposcni theme */
/* Nav overrides for Featured nodes. */
.page-node-type-featured #navbar-burger {
  display: block;
  color: white;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  margin: auto;
  height: 3.25rem;
  width: 3.25rem; }
.page-node-type-featured #main-nav {
  padding: 0; }
  .page-node-type-featured #main-nav .navbar {
    /* Make sure navbar completely hidden, overriding bulma min-height. */
    min-height: 0;
    border: 0; }
.page-node-type-featured .navbar-end {
  visibility: hidden !important;
  display: none !important; }

/* CONTENT */
/* Article formatting. */
.page-node-type-article #block-pagetitle-2 {
  margin-bottom: 0; }
.page-node-type-article article .node__meta {
  margin-bottom: calc(0.75rem * 2); }
.page-node-type-article article .field--name-field-image {
  float: left;
  margin-right: 0.75rem;
  margin-top: 0.4rem;
  margin-bottom: 0; }

/* Control image width */
@media screen and (max-width: 467px) {
  .page-node-type-article .field--name-field-image {
    float: none;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0.75rem;
    width: 100%; } }
@media screen and (min-width: 466px) {
  .page-node-type-article .field--name-field-image {
    max-width: 70%; } }
/* Feature formatting. */
.page-node-type-featured .region-content {
  padding: 0; }
.page-node-type-featured .addtoany_list {
  position: fixed;
  top: 0.15rem;
  right: 0.75rem;
  z-index: 999; }
  .page-node-type-featured .addtoany_list svg {
    background-color: #7a7a7a !important; }
.page-node-type-featured #block-tabs, .page-node-type-featured #block-tabs-2 {
  background-color: #0a0a0a;
  margin-bottom: 0; }
  .page-node-type-featured #block-tabs .tabs, .page-node-type-featured #block-tabs-2 .tabs {
    margin: 0;
    border: none; }
.page-node-type-featured article {
  flex-wrap: wrap;
  margin: 0; }
  .page-node-type-featured article .is-one-quarter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3.5rem; }
    .page-node-type-featured article .is-one-quarter .navbar-burger {
      position: absolute; }
    .page-node-type-featured article .is-one-quarter .site-logo {
      display: block;
      margin-bottom: 1rem; }
  .page-node-type-featured article .is-three-quarters img {
    width: 100%; }
  .page-node-type-featured article .is-full .main-caption {
    /* The left/right margin is to keep caption away from share icons. */
    margin: 0.5rem 7rem auto;
    color: #0a0a0a; }
  .page-node-type-featured article .is-full .node__content {
    padding: 5rem 0 3rem; }
    .page-node-type-featured article .is-full .node__content p {
      margin: 0 4rem 0.75rem 13rem;
      font-size: 1.2rem;
      line-height: 2rem; }
    .page-node-type-featured article .is-full .node__content figure {
      width: 100%;
      width: -moz-available;
      /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available;
      /* Mozilla-based browsers will ignore this. */
      width: stretch; }
      .page-node-type-featured article .is-full .node__content figure img {
        width: 100%;
        width: -moz-available;
        /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;
        /* Mozilla-based browsers will ignore this. */
        width: stretch;
        height: auto; }
      .page-node-type-featured article .is-full .node__content figure figcaption {
        font-family: "Open Sans", sans-serif;
        font-size: 0.75rem;
        margin: 0.5rem auto 3rem 3rem;
        color: #0a0a0a;
        text-align: center; }
  .page-node-type-featured article .node__submitted a {
    color: whitesmoke; }

/* Wider screen overrides for Article nodes. */
@media screen and (min-width: 1088px) {
  body:not(.page-node-type-featured) #main-nav .navbar {
    /* Can't use is-hidden-desktop because of Article formatting. */ }
    body:not(.page-node-type-featured) #main-nav .navbar .navbar-start {
      visibility: hidden !important;
      display: none !important; }

  body.page-node-type-featured main {
    position: relative;
    top: 42px; }
  body.page-node-type-featured #main-nav {
    position: fixed;
    width: 100%;
    z-index: 9; }
    body.page-node-type-featured #main-nav .navbar {
      border-top: 1px solid #b5b5b5;
      border-bottom: 1px solid #b5b5b5;
      background-color: white;
      padding: 0 1rem; }
      body.page-node-type-featured #main-nav .navbar .navbar-start {
        visibility: hidden !important;
        display: none !important; }
        body.page-node-type-featured #main-nav .navbar .navbar-start .user-menu {
          position: fixed;
          top: 1rem;
          right: calc(0.75rem * 2);
          height: fit-content;
          flex-flow: column; }
        body.page-node-type-featured #main-nav .navbar .navbar-start .search-block-form {
          line-height: 2rem; }
      body.page-node-type-featured #main-nav .navbar .navbar-burger {
        visibility: hidden !important;
        display: none !important; }
      body.page-node-type-featured #main-nav .navbar #main-navbar-menu {
        /* Keep social icons out of scroll bar. */
        margin: auto 1rem; }
  body.page-node-type-featured .is-one-quarter {
    /* No hamburger, so move up. */
    padding-top: 1.5em; } }
@media screen and (max-width: 768px) {
  .page-node-type-featured .addtoany_list {
    width: 32px; }
  .page-node-type-featured article .is-one-quarter .page-title {
    max-width: 90vw; }
  .page-node-type-featured article .is-one-quarter .site-logo {
    position: absolute;
    right: 49px;
    top: 0.7rem;
    width: 40vw; }
  .page-node-type-featured article .is-full .node__content {
    padding-top: 2rem; }
    .page-node-type-featured article .is-full .node__content p {
      margin: 0 4rem 0.75rem 4rem; } }

/*# sourceMappingURL=content.css.map */
