/* Center column for tiempos theme */
/* Front Page Attachment View (left-hand column). */
.view-id-frontpage.columns > .attachment {
  /* Emulate column css. */
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0.75rem 0 0;
  /* Teaser formatting */ }
  .view-id-frontpage.columns > .attachment .node--view-mode-teaser {
    margin-bottom: 0; }
    .view-id-frontpage.columns > .attachment .node--view-mode-teaser h2 {
      font-size: 1.1rem;
      line-height: 1.4; }
    .view-id-frontpage.columns > .attachment .node--view-mode-teaser img {
      float: left;
      width: 40%;
      margin-right: 0.5rem;
      margin-top: 0.3rem; }
    .view-id-frontpage.columns > .attachment .node--view-mode-teaser .field--name-body {
      margin-bottom: 0;
      /* Fine-tuning. TODO: Why does Feature not have p tag? */
      line-height: 1.3; }
      .view-id-frontpage.columns > .attachment .node--view-mode-teaser .field--name-body p {
        /* Fine-tuning. */
        line-height: 1.3; }

/* Front Page Featured View (center column). */
.view-id-frontpage.columns > .view-content {
  display: block;
  flex-basis: 0;
  flex-grow: 2;
  flex-shrink: 1;
  padding: 0 0 0 0.75rem; }
  .view-id-frontpage.columns > .view-content img {
    width: 100%; }

.view {
  /* Make image fill defined space, might cause upscaling */
  /* For unformatted Views without default classes */ }
  .view h2 {
    font-size: 1.2rem; }
  .view .field--type-image img {
    width: 100%; }
  .view .view-content > div {
    margin-bottom: 1rem; }
    .view .view-content > div:last-child {
      margin-bottom: 0; }

/* Front Page Sections */
#block-views-block-front-page-sections-block-1 .view-content,
#block-views-block-front-page-sections-block-2 .view-content,
#block-views-block-front-page-sections-block-1-2 .view-content,
#block-views-block-front-page-sections-block-1-3 .view-content,
#block-views-block-front-page-sections-block-2-2 .view-content {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem; }
#block-views-block-front-page-sections-block-1 .view-content > div,
#block-views-block-front-page-sections-block-2 .view-content > div,
#block-views-block-front-page-sections-block-1-2 .view-content > div,
#block-views-block-front-page-sections-block-1-3 .view-content > div,
#block-views-block-front-page-sections-block-2-2 .view-content > div {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }

/* Taxonomy Pages */
.view-taxonomy-term .view-content {
  display: flex;
  flex-wrap: wrap; }
.view-taxonomy-term .views-row {
  flex-basis: calc(50% - 0.75rem); }
  .view-taxonomy-term .views-row:nth-child(odd) {
    margin: 0 0.75rem 0.75rem 0; }
  .view-taxonomy-term .views-row:nth-child(even) {
    margin: 0 0 0.75rem 0.75rem; }

@media screen and (min-width: 769px) {
  #block-views-block-mobile-front-page-block-1 {
    visibility: hidden !important;
    display: none !important; } }
@media screen and (max-width: 768px) {
  /* Hide attachment-before on mobile. */
  .view-id-frontpage,
  #block-views-block-front-page-sections-block-1,
  #block-views-block-front-page-sections-block-2,
  #block-views-block-front-page-sections-block-1-2,
  #block-views-block-front-page-sections-block-1-3,
  #block-views-block-front-page-sections-block-2-2 {
    visibility: hidden !important;
    display: none !important; }

  /* Teaser formatting. */
  #block-views-block-mobile-front-page-block-1 .view, .view-taxonomy-term .view {
    padding: 0 0.75rem; }
  #block-views-block-mobile-front-page-block-1 .node--view-mode-teaser, .view-taxonomy-term .node--view-mode-teaser {
    min-height: 30vw; }
    #block-views-block-mobile-front-page-block-1 .node--view-mode-teaser:not(last-child), .view-taxonomy-term .node--view-mode-teaser:not(last-child) {
      margin-bottom: 0.75rem; }
    #block-views-block-mobile-front-page-block-1 .node--view-mode-teaser img, .view-taxonomy-term .node--view-mode-teaser img {
      float: left;
      width: 48%;
      margin-right: 0.75rem;
      margin-top: 0.3rem; }
    #block-views-block-mobile-front-page-block-1 .node--view-mode-teaser .field--name-body, .view-taxonomy-term .node--view-mode-teaser .field--name-body {
      margin-bottom: 0;
      display: inline; }
      #block-views-block-mobile-front-page-block-1 .node--view-mode-teaser .field--name-body p, .view-taxonomy-term .node--view-mode-teaser .field--name-body p {
        /* Fine-tuning. */
        line-height: 1.4; }

  /* Taxonomy Pages */
  .view-taxonomy-term .view-content {
    display: block; }
  .view-taxonomy-term .views-row:nth-child(odd) {
    margin: 0; }
  .view-taxonomy-term .views-row:nth-child(even) {
    margin: 0; } }

/*# sourceMappingURL=views.css.map */
