.PicoRule[data-pico-status="registered"], .PicoRule[data-pico-status="paying"] {
  display: none;
  visibility: hidden;
}

a[data-drupal-link-system-path="e-edition"],
#block-etypeeedition {
  display: none!important;
  visibility: hidden;
}

a[data-drupal-link-system-path="e-edition"][data-pico-status="paying"] {
  display: flex!important;
  visibility: visible;
}

#block-etypeeedition[data-pico-status="paying"] {
  display: block!important;
  visibility: visible;
}

/* Non-paying e-edition block */
.e-edition.PicoSignal[data-pico-status="paying"] {
  display: none!important;
  visibility: hidden;
}
