/* Default hide e-edition links */
a[data-drupal-link-system-path="e-edition"],
.block-etype-block {
  display: none!important;
  visibility: hidden;
}

/* Show e-edition link for paying users */
a[data-drupal-link-system-path="e-edition"][data-pico-status="paying"] {
  display: flex!important;
  visibility: visible;
}

/* Show e-edition thumbnail for paying users */
.block-etype-block[data-pico-status="paying"] {
  display: block!important;
  visibility: visible;
}

/* Hide non-paying e-edition block for paying users */
.block-etype-pico-block .PicoSignal[data-pico-status="paying"] {
  display: none!important;
  visibility: hidden;
}

/* center content */
#block-etypepicoeedition,
#block-etypepicoeedition-2 {
  display: flex;
  justify-content: center;
}

/* move ADA button */
.ll-at-toolbar-toggle {
  bottom: 103px!important;
  font-size: 22px!important;
  right: 18px!important;
}

#accessibility-toolbar-parent .ll-at-toolbar-toggle-underlay {
  bottom: 106px!important;
  right: 24px!important;
  height: 58px!important;
  width: 58px!important;
}

.accessiblity-toolbar-wrapper {
  bottom: 112px!important;
}
