a[data-drupal-link-system-path="user/login"] {
  display: none!important;
  visibility: hidden;
}

#block-weatherwidget iframe {
  max-width: 100%;
}

#block-adacompliance {
  text-align: center;
  margin-bottom: 0;
}

#block-adacompliance img {
  width: 100px;
}
