body:not(.path-admin) .password-confirm,
body:not(.path-admin) .password-field,
body:not(.path-admin) .password-strength,
body:not(.path-admin) .password-confirm-match,
body:not(.path-admin) select,
body:not(.path-admin) .address-container-inline,
body:not(.path-admin) .form-type-textfield,
body:not(.path-admin) .form-item {
  width: 100%!important;
}

.fieldset-legend,
summary {
  font-weight: bold;
}

/* Hide "Preview" button */
.node-form [data-drupal-selector="edit-preview"] {
  display: none;
  visibility: hidden;
}
