@import "../tiempos/scss/vars";

@media screen and (min-width: 1088px) {
  .thedahloneganugget, .thenortheastgeorgian {
    #main-nav .navbar .navbar-end {
      /* Social Icons */
      position: inherit;
      top: 0;
    }
  }
}

/* Teaser formatting. */
.node--view-mode-teaser {
  .field--name-body > p::after,
  .field--name-body > .field__item::after {
    content: "";
  }
}

/* Mobile Home Page */
@media screen and (max-width: 768px) {
  .block-views-blockmobile-front-page-block-1 {
    .image-container img {
      float: none;
      width: fit-content;
      margin: 0;
    }
  }
  .path-frontpage .view-display-id-page_1,
  #block-views-block-front-page-sections-block-1-2,
  #block-views-block-front-page-sections-block-2,
  #block-views-block-front-page-sections-block-3-2 {
    @include is-really-visible;
  }
  .front-page-sections {
    .view-content {
      display: block;
      margin: 0;
    }
  }
  #block-weatherwidget-2 > iframe {
    margin: auto;
  }
}

/* DFP ADS */

/* Dahlonega Square Ads on Home Page */
#block-tiemposcni-dfptagcnidahlonegamidhome,
#block-dfptagcninegmidhome {
  display: inline-block;
  float: left;
}

#block-tiemposcni-dfptagcnidahlonegamidhome2,
#block-dfptagcninegmidhome2 {
  display: inline-block;
  float: right;
}

@media screen and (max-width: 950px) {
  #block-tiemposcni-dfptagcnidahlonegamidhome
  #block-dfptagcninegmidhome {
    display: block;
    text-align: center;
    float: none;
  }

  #block-tiemposcni-dfptagcnidahlonegamidhome2,
  #block-dfptagcninegmidhome2 {
    display: block;
    text-align: center;
    float: none;
  }
}

@media screen and (max-width: $tablet - 1px) {
  /* Hide content on mobile */
  #block-tiemposcni-dfptagcnidahlonegaleaderboard-2 {
    @include is-really-invisible;
  }

}