@import "../tiempos/scss/vars";

@media screen and (min-width: 1088px) {
  #main-nav .navbar .navbar-end {
    /* Social Icons */
    /* position: inherit; */
  }
}

/* Teaser formatting. */
.node--view-mode-teaser{
  .field--name-body > p::after,
  .field--name-body > .field__item::after {
    content: "";
  }
}

/* DFP ADS */

/* Dahlonega Square Ads on Home Page */
#block-tiemposcni-dfptagcnidahlonegamidhome {
  display: inline-block;
  float: left;
}

#block-tiemposcni-dfptagcnidahlonegamidhome2 {
  display: inline-block;
  float: right;
}

@media screen and (max-width: 950px) {
  #block-tiemposcni-dfptagcnidahlonegamidhome {
    display: block;
    text-align: center;
    float: none;
  }

  #block-tiemposcni-dfptagcnidahlonegamidhome2 {
    display: block;
    text-align: center;
    float: none;
  }
}

@media screen and (max-width: $tablet - 1px) {
  /* Hide content on mobile */
  #block-tiemposcni-dfptagcnidahlonegaleaderboard-2 {
    @include is-really-invisible;
  }

}